* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

ol,
ul {
    list-style-type: none;
}

button,
input,
textarea {
    line-height: normal;
    text-transform: none;
    cursor: pointer;
}

.fas,
input,
svg {
    cursor: pointer;
}

input:focus-within {
    outline: 1px solid transparent;
}

[type="text"]:hover,
[type="email"]:hover,
[type="password"]:hover,
[type="radio"]:hover,
[type="text"]:focus,
[type="email"]:focus,
[type="password"]:focus,
[type="radio"]:focus {
    outline: 1px solid #F16D7F;
    background: #ffffff;
    cursor: pointer;
}

details>summary {
    list-style: none;
}

summary,
input {
    border: 0;
    outline: none;
}

summary:hover {
    transition: 0.3s;
    cursor: pointer;
}

summary::-webkit-details-marker {
    display: none;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    font-family: "Lato", sans-serif;
    color: #222222;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.header {
    background-color: #222222;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
    min-height: 75px;
    flex-wrap: wrap;
}

.header-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.search-icon-form {
    position: relative;
}

.search-icon-form:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.search-icon-form-input {
    width: 20px;
    min-height: 20px;
    padding: 5px;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    position: absolute;
    top: -1px;
    left: 30px;
    color: #fff;
    font-size: 16px;
    font-family: Arial;
    text-transform: capitalize;
}

.search-icon-form-input:focus {
    width: 150px;
    min-height: 20px;
    transition: width 1s ease;
    border: 2px solid #fff;
}

.search-icon-form-label {
    display: block;
    width: 100%;
    height: 100%;
}

.search-icon-form-label:hover .search-icon-form__svg {
    fill: gold;
}

.search-icon-form-label:active .search-icon-form__svg {
    fill: green;
}

.header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.cart-btn-link {
    position: relative;
}

.cart-btn-link span {
    display: block;
    width: 19px;
    height: 19px;
    background-color: #F16D7F;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -6px;
    left: 24px;
}

.brand {
    background-color: #F1E4E6;
    margin: 0 0 65px 0;
}

.brand-wrap {
    height: 764px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: url(../img/brand.png) no-repeat -220px;
}

.brand-heading {
    display: block;
    width: 100%;
    max-width: 377px;
    margin: 0 95px 87px 0;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
    text-transform: uppercase;
    position: relative;
}

.brand-heading::before {
    content: "";
    display: block;
    width: 12px;
    height: 92px;
    background-color: #F16D7F;
    position: absolute;
    top: 0;
    left: -28px;
}

.brand-text {
    display: block;
    font-weight: 700;
    font-size: 30px;
    line-height: 38.4px;
}

.brand-text span {
    color: #F16D7F;
}

.categories {
    width: 100%;
    margin: 0 auto 96px;
}

.categories-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 30px;
}

.categories-item {
    width: 100%;
    max-width: 30%;
    min-width: min-content;
    min-height: 260px;
    margin: 0 0 30px 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(33, 22, 22, 0.7);
    background-blend-mode: darken;
}

.categories-item:nth-child(1) {
    background-image: url(../img/man.png);
}

.categories-item:nth-child(2) {
    background-image: url(../img/woman.png);
}

.categories-item:nth-child(3) {
    background-image: url(../img/kid.png);
}

.categories-item:last-child {
    max-width: 100%;
    background-image: url(../img/accesories.png);
    margin: 0;
}

.categories-item-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    min-height: inherit;
    width: 100%;
}

.categories-item-title,
.categories-item-subtitle {
    display: block;
    width: 100%;
    text-transform: uppercase;
}

.categories-item-title {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    text-align: center;
    color: #FFFFFF;
}

.categories-item-subtitle {
    display: block;
    width: 100%;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28.8px;
    text-align: center;
    color: #F16D7F;
}

.product {
    margin: 0 0 95px 0;
}

.product-tittle-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 48px;
}

.product-tittle {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.product-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 30px;
    margin-bottom: 48px;
}

.product-item {
    margin: 0 auto;
    max-width: 360px;
    min-height: 581px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    background-color: #F8F8F8;
    position: relative;
}

.product-item:hover .product-item-btn {
    display: flex
}

.product-item:hover .product-item-btn:hover {
    background-color: #ccc;
    color: #000;
    border: 1px solid #000;
}

.product-item:hover .product-item-btn:hover svg {
    fill: #000;
}

.product-item:hover .product-item-btn:active {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.product-item:hover .product-item-btn:active svg {
    fill: #fff;
}

.product-item:hover .product-item-photo-wrap::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(58, 56, 56, 0.86);
    position: absolute;
    top: 0;
    left: 0;
}

.product-item-scd-bck {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 420px;
    background-color: #F7E4E2;
}

.product-item-photo-wrap {
    margin: 0 0 24px 0;
    position: relative;
}

a:hover.product-item-link {
    transform: none;
}

.product-item-text-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px 0px 20px 18px;
}

.product-item-title {
    margin: 0px 0px 12px 0;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    text-transform: uppercase;
}

.product-item-txt {
    margin: 0px 0px 18px 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.product-item-price {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.product-item-btn {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 43px;
    max-width: 138px;
    gap: 11px;
    border: 1px solid #FFFFFF;
    background: transparent;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    position: absolute;
    top: 30%;
    left: calc(50% - 80px);
}

.product-btn {
    display: block;
    width: 100%;
    max-width: 212px;
    min-height: 48px;
    margin: 0 auto;
    border: 1px solid #FF6A6A;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    background-color: #FFFFFF;
    text-align: center;
    word-break: break-all;
}

.product-btn:hover {
    background-color: #F26376;
    color: #fff;
}

.product-btn:active {
    background-color: #fff;
    border: 2px solid #F26376;
    color: #F26376;
}

.features {
    background-color: #222224;
}

.features-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 341px;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 20px;
}

.features-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    padding: 15px;
}

.features-item-icon {
    display: block;
    width: 100%;
    cursor: default;
    margin: 0 auto 28px;
}

.features-tittle {
    width: 100%;
    margin: 0 auto 16px;
    font-weight: bold;
    font-size: 19.96px;
    line-height: 24px;
    text-align: center;
    color: #FBFBFB;
}

.features-text {
    width: 100%;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

.subscribe {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 40px;
    min-height: 448px;
    background-image: linear-gradient(rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)),
        url('../img/coast.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.subscribe-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    gap: 60px;
    flex-wrap: wrap;
}

.subscribe-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 360px;
}

.subscribe-item-photo {
    margin: 0 0 30px 0;
}

.subscribe-item-txt {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}

.subscribe-item-txt span {
    font-style: italic;
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.subscribe-form-tittle {
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #222224;
    text-transform: uppercase;

}

.subscribe-form-txt {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #222224;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.subscribe-form-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.subscribe-form-input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 256px;
    min-height: 49px;
    padding: 16px;
    border-radius: 30px 0 0 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #222224;
    background-color: #E1E1E1;
}


.subscribe-form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 100px;
    min-height: 49px;
    border-radius: 0 30px 30px 0;
    background-color: #F16D7F;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.subscribe-form-btn:hover {
    background-color: #fff;
    color: #F16D7F;
}

.subscribe-form-btn:active {
    background-color: #F16D7F;
    color: #fff;
}

.copyright {
    display: flex;
    background-color: #222224;
    min-height: 79px;
}

.copyright-wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.copyright-txt {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.copyright-item-wrp {
    display: flex;
    align-items: center;
    max-width: 178px;
    gap: 8px;
}

.copyright-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: #FFFFFF;
}

.copyright-item svg {
    fill: #000;
    margin: auto;
}

.copyright-item:hover svg {
    fill: #F16D7F;
}

.copyright-item:active {
    background-color: #F16D7F;
}

.copyright-item:active svg {
    fill: #fff;
}

.copyright-item-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}