.brand {
    background-color: #F1E4E6;
    margin: 0 0 65px 0;


    &-wrap {
        height: 764px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background: url(../img/brand.png) no-repeat -220px;
    }

    &-heading {
        display: block;
        width: 100%;
        max-width: 377px;
        margin: 0 95px 87px 0;
        font-style: normal;
        font-weight: 900;
        font-size: 48px;
        line-height: 58px;
        color: #222222;
        text-transform: uppercase;
        position: relative;
    }

    &-heading::before {
        content: "";
        display: block;
        width: 12px;
        height: 92px;
        background-color: #F16D7F;
        position: absolute;
        top: 0;
        left: -28px;
    }

    &-text {
        display: block;
        font-weight: 700;
        font-size: 30px;
        line-height: 38.4px;
    }

    &-text span {
        color: #F16D7F;
    }
}