.subscribe {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 40px;
    min-height: 448px;
    background-image: linear-gradient(rgba(244, 244, 244, 0.2), rgba(244, 244, 244, 0.2)),
        url('../img/coast.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


    &-wrap {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 60px;
        flex-wrap: wrap;
    }
}

.subscribe-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    max-width: 360px;


    &-photo {
        margin: 0 0 30px 0;
    }

    &-txt {
        @include txt (400, 20px, 24px, #222224);
        text-align: center;
    }

    &-txt span {
        font-style: italic;
    }
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;


    &-tittle {
        @include txt (700, 24px, 40px, #222224);
        text-align: center;
        text-transform: $text-transform;

    }

    &-txt {
        @include txt (400, 18px, 30px, #222224);
        text-align: center;
        text-transform: $text-transform;
        margin-bottom: 32px;
    }

    &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &-input {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 256px;
        min-height: 49px;
        padding: 16px;
        border-radius: 30px 0 0 30px;
        @include txt (400, 14px, 17px, #222224);
        background-color: #E1E1E1;
    }


    &-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        max-width: 100px;
        min-height: 49px;
        border-radius: 0 30px 30px 0;
        background-color: $clr-prjct-bsd;
        @include txt (400, 14px, 17px, #FFFFFF);
    }

    &-btn:hover {
        background-color: #fff;
        color: $clr-prjct-bsd;
    }

    &-btn:active {
        background-color: $clr-prjct-bsd;
        color: #fff;
    }
}

.copyright {
    display: flex;
    background-color: #222224;
    min-height: 79px;


    &-wrp {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        flex-wrap: wrap;
    }

    &-txt {
        @include txt (400, 16px, 19px, #FBFBFB);
    }
}

.copyright-item-wrp {
    display: flex;
    align-items: center;
    max-width: 178px;
    gap: 8px;
}

.copyright-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: #FFFFFF;


    & svg {
        fill: #000;
        margin: auto;
    }

    &:hover svg {
        fill: $clr-prjct-bsd;
    }

    &:active {
        background-color: $clr-prjct-bsd;
    }

    &:active svg {
        fill: #fff;
    }

    &-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
}