.mobile-menu {
    margin-right: 12px;
}

.mobile-menu-checkbox {
    display: none;
}

.mobile-menu-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 40px;
    transition: 0.4s;
    cursor: pointer;
}

.mobile-menu-icon {
    display: block;
    position: relative;
    background: white;
    width: 90%;
    height: 3px;
    transition: 0.4s;
}

.mobile-menu-icon::after,
.mobile-menu-icon::before {
    content: "";
    display: block;
    position: absolute;
    background: white;
    width: 100%;
    height: 3px;
    transition: 0.4s;
}

.mobile-menu-icon::before {
    top: -11px;
}

.mobile-menu-icon::after {
    top: 11px;
}

.mobile-menu-checkbox:checked~.mobile-menu-btn .mobile-menu-icon::before,
.mobile-menu-checkbox:checked~.mobile-menu-btn .mobile-menu-icon::after {
    top: 0;
}

.mobile-menu-checkbox:checked~.mobile-menu-btn .mobile-menu-icon {
    background: transparent;
}


.mobile-menu-checkbox:checked~.mobile-menu-btn .mobile-menu-icon::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.mobile-menu-checkbox:checked~.mobile-menu-btn .mobile-menu-icon::before {
    transform: rotate(4deg);
    -webkit-transform: rotate(45deg);
}

.menu-list {
    display: none;
    width: 100%;
    max-width: 232px;
    min-height: 764px;
    /* значение в свойстве min-height удобно задать через переменную равную высоте второго блока */
    padding: 16px 33px;
    box-sizing: border-box;
    background-color: #fff;
    position: absolute;
    top: 78px;
    /* значение в свойстве top удобно задать через переменную равную высоте первого блока */
    right: 0;
    z-index: 20;
}

.menu-list-close-btn {
    display: block;
    width: 12px;
    height: 12px;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    left: 170px;
}

.menu-list-close-btn::before,
.menu-list-close-btn::after {
    content: "";
    display: block;
    width: 18px;
    height: 2px;
    background: #6F6E6E;
    border-radius: 10px;
    position: absolute;
    top: 5px;
    left: -3px;
    transform: rotate(45deg);
}

.menu-list-close-btn::after {
    transform: rotate(-45deg)
}

.menu-list-close-btn:hover::before,
.menu-list-close-btn:hover::after {
    background: #B7B6B6;
}

.menu-list-close-btn:active::before,
.menu-list-close-btn:active::after {
    background: #535353;
}

.mobile-menu-checkbox[type="checkbox"]:checked~.menu-list {
    display: block;
}

.menu {
    max-width: 232px;
    width: 100%;
    background-color: #fff;
}

.menu-list,
.menu-sublist {
    padding: 0;
    list-style-type: none;
}

.menu-list {
    padding: 37px 34px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.menu-list-item {
    margin: 0 0 20px 0;
}

/* .menu-list-item:last-child {
    margin: 0;
  } */

.menu-list-item:first-child {
    margin: 0 0 24px 0;
    font-weight: bold;
    @include txt (normal, 14px, 17px, none);
    text-transform: $text-transform;
}

.menu-list-item>a {
    display: block;
    margin: 0 0 12px 0;
    @include txt (normal, 14px, 17px, none);
    text-transform: $text-transform;
    text-decoration: none;
    color: $clr-prjct-bsd;
}

.menu-list-item>a:hover {
    text-decoration: underline;
}

.menu-list-item>a:active {
    text-decoration: none;
    color: $clr-prjct-bsd;
}

.menu-list-title {
    display: block;
    margin: 9px 0 24px 0;
    font-weight: bold;
    color: #000000;
    text-transform: $text-transform;
}

.menu-sublist {
    padding: 0 0 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.menu-sublist-item {
    margin: 0 0 11px 0
}

.menu-sublist-item a {
    color: #6f6e6e;
    @include txt (normal, 14px, 17px, none);
    text-decoration: none;
}

.menu-sublist-item a:hover {
    text-decoration: underline;
}

.menu-sublist-item a:active {
    text-decoration: none;
    color: #6f6e6e;
}