* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
        transition: 0.3s;
    }
}

ol,
ul {
    list-style-type: none;
}

button,
input,
textarea {
    line-height: normal;
    text-transform: none;
    cursor: pointer;
}

hr {
    opacity: 0.4;
    border: 1px solid #EAEAEA;
    width: 100%;
}

.fas,
input,
svg {
    cursor: pointer;
}

input:focus-within {
    outline: 1px solid transparent;
}

[type="text"]:hover,
[type="email"]:hover,
[type="password"]:hover,
[type="radio"]:hover,
[type="text"]:focus,
[type="email"]:focus,
[type="password"]:focus,
[type="radio"]:focus {
    outline: 1px solid #F16D7F;
    background: #ffffff;
    cursor: pointer;
}

details>summary {
    list-style: none;
}

summary,
input {
    border: 0;
    outline: none;
}

summary:hover {
    transition: 0.3s;
    cursor: pointer;
}

summary::-webkit-details-marker {
    display: none;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    font-family: "Lato", sans-serif;
    font-style: normal;
    color: #222222;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}