.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 284px;
    min-height: 43px;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid #EBEBEB;
}

.pagination-item-lnk {
    @include txt (300, 16px, 19px, rgb(171, 167, 167));

    &:nth-child(2) {
        color: $clr-prjct-2;
    }

    &:first-child,
    &:last-child {
        padding-top: 3px;
    }

    &:nth-child(7) {
        margin-right: -20px;
    }

    &:nth-child(9) {
        margin-left: -20px;
    }
}