@import "_normilize.scss";
@import "_veriables.scss";
@import "_mexins.scss";
@import "_header.scss";
@import "_menu.scss";
@import "_brand.scss";
@import "_categories.scss";
@import "_product.scss";
@import "_features.scss";
@import "_footer.scss";
@import "_breadcrumb.scss";
@import "_pagination.scss";
@import "_filter-nav.scss";
@import "_slide_description.scss";
@import "_order.scss";
@import "_registration.scss";

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        max-width: 768px;
    }

    .header {
        padding: 0 32px 0 32px;
    }

    .brand {
        margin: 0 0 20px 0;
    }

    .brand-wrap {
        min-height: 368px;
        background-size: 50%;
        background-position: -10px;
    }

    .brand-heading {
        margin: 0 32px 0 0;
        max-width: 283px;
        @include txt (900, 44px, 52px, #222222);
    }

    .brand-text {
        @include txt (700, 24px, 28px, #222222);
    }

    .categories {
        width: 100%;
        margin: 0 auto 154px;


        &-wrap {
            gap: 18px;
        }
    }

    .categories-item {
        max-width: 232px;
        min-height: 167px;

        &:last-child {
            max-width: (232px*3)+36px;
        }
    }

    .product {
        margin: 0 0 64px 0;

        &-tittle-wrap {
            margin: 0 auto 72px;
        }

        &-list {
            gap: 16px;
            margin-bottom: 32px;
        }
    }

    .features-wrap {
        flex-direction: column;
        gap: 48px;
        padding: 48px 0;
    }

    .subscribe {
        padding: 48px 0 140px 0;
        background-position: 25%;
        background-size: cover;

        &-wrap {
            flex-direction: column;
            gap: 48px;
        }
    }

    .subscribe-form {

        &-txt {
            margin-bottom: 27px;
        }
    }

    .copyright {
        padding: 0 32px 0 32px;
    }

    .breadcrumb {
        padding: 0 16px 0 16px;
    }

    .filter-nav-wrp {
        justify-content: space-around;
        padding: 0px 24px 0 0;
    }

    .filter {
        margin: 0 0 0 -30px;
    }

    .atributes {
        gap: 48px;
    }

    .product-item-media {
        display: none;
    }

    .product-item-media-two {
        display: none;
    }

    .order {
        margin: 59px 0 128px 0;
    }

    .order-wrp {
        flex-direction: column;
        align-items: center;
        gap: 64px;
    }

    .order-add-wrp {
        max-width: 734px;
    }

    .order-card {
        max-width: 734px;
    }

    .order-btn-wrp {
        justify-content: center;
        gap: 48px;
    }

    .shipping {
        flex-direction: row;
        justify-content: space-between;
        max-width: 734px;
        gap: 15px;
        max-height: 214px;
    }

    .shipping-wrp {
        width: 100%;
        max-width: 360px;
    }

    .registration {
        margin: 40px 0 96px 0;
    }

    .registration-wrp {
        gap: 22px;
    }

    .registration-info {
        max-width: 354px;
    }

    .registration-info-title {
        @include txt (300, 16px, 19px, #000000);
        margin-bottom: 32px;
    }

    .registration-info-txt {
        @include txt (300, 16px, 19px, #000000);
    }

    .registration-info-item {
        @include txt (300, 16px, 19px, #000000);
        margin-bottom: 16px;

    }
}





@media (max-width: 767px) {
    .container {
        max-width: 390px;
    }

    .header {
        padding: 0 16px 0 16px;
    }

    .account-btn {
        display: none;
    }

    .cart-btn-link {
        display: none;
    }

    .brand {
        margin: 0 0 64px 0;
    }

    .brand-wrap {
        justify-content: center;
        min-height: 363px;
        background: none;
    }

    .brand-heading {
        margin: 0 0 0 56px;
        max-width: 264px;
        @include txt (900, 38px, 45px, #222222);


        &::before {
            top: 5px;
            height: 61px;
        }
    }

    .brand-text {
        @include txt (700, 20px, 24px, #222222);
    }

    .categories {
        width: 100%;
        margin: 0 auto 64px;


        &-wrap {
            gap: 32px;
        }
    }

    .categories-item {
        width: 100%;
        min-height: 247px;

        &:last-child {
            max-width: 360px;
            min-height: 111px;
        }
    }

    .product {
        margin: 0 0 96px 0;

        &-tittle-wrap {
            margin: 0 auto 64px;
        }

        &-list {
            gap: 16px;
            margin-bottom: 42px;
        }
    }

    .features-wrap {
        flex-direction: column;
        gap: 48px;
        padding: 48px;
    }

    .subscribe {
        padding: 48px 0 110px 0;
        background-position: 25%;
        background-size: cover;

        &-wrap {
            flex-direction: column;
            gap: 59px;
        }
    }

    .subscribe-form {

        &-tittle {
            @include txt (700, 24px, 37px, #222224);
        }

        &-txt {
            @include txt (400, 14px, 21px, #222224);
            margin-bottom: 21px;
        }
    }

    .copyright-wrp {
        flex-direction: column-reverse;
        gap: 40px;
        padding: 51px 0 10px 0;

    }

    .breadcrumb-wrp {
        flex-direction: column;
        justify-content: center;
        gap: 32px;
    }

    .filter-nav-wrp {
        padding: 0px 24px 0 0;
    }

    .filter {
        width: 126px;
        margin: 0;
    }

    .filter-btn span {
        display: none;
    }

    .filter-btn svg {
        width: 38px;
        height: 25px;
    }

    .atributes {
        gap: 36px;
    }

    .list-btn-title {
        @include txt (400, 12px, 14px, #6F6E6E);
    }

    .product-item-media-three {
        display: none;
    }

    .description-product-title {
        margin-top: 64px;
    }

    .description-txt {
        max-width: 326px;
        @include txt (300, 14px, 20px, #5E5E5E);
    }

    .description-item-btn {
        @include txt (400, 10px, 12px, #6F6E6E);
    }

    .order {
        margin: 40px 0 96px 0;
    }

    .order-wrp {
        flex-direction: column;
        align-items: center;
        gap: 48px;
    }

    .order-add-wrp {
        max-width: 360px;
    }

    .order-card {
        max-width: 360px;
        min-height: 188px;

        &:nth-child(2) {
            margin-bottom: 28px;
        }
    }

    .order-card img {
        width: 142px;
        height: 188px;
    }

    .order-btn-wrp {
        justify-content: center;
        gap: 8px;
    }

    .order-card-item {
        gap: 4px;
        padding: 13px 0 0 17px;

        &-title {
            @include txt (400, 16px, 19px, #222222);
            margin-bottom: 26px;
            width: 100%;
            max-width: 138px;
        }

        &-txt {
            @include txt (400, 14px, 17px, #575757);
        }

    }

    .order-card-cls {
        height: 11px;
        padding: 16px 12px 0 0;

        & svg {
            width: 9px;
            height: 11px;
        }
    }

    #Quantity,
    #Quant {
        max-width: 24px;
        height: 14px;
        border: 1px solid #EAEAEA;
        @include txt (400, 10px, 12px, #656565);
    }

    .order-btn {
        min-height: 32px;
        @include txt (400, 12px, 14px, #575757);
    }

    .registration {
        margin: 40px 0 96px 0;
    }

    .registration-wrp {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .registration-info {
        max-width: 354px;
    }

    .registration-info-title {
        @include txt (300, 16px, 19px, #000000);
        margin-bottom: 32px;
    }

    .registration-info-txt {
        @include txt (300, 16px, 19px, #000000);
    }

    .registration-info-item {
        @include txt (300, 16px, 19px, #000000);
        margin-bottom: 16px;

    }
}