.header {
    background-color: #222222;

    &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 18px 0;
        min-height: 75px;
        flex-wrap: wrap;
    }

    &-left {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    &-right {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;
    }
}

.search-icon-form {
    position: relative;


    &:hover {
        transform: scale(1.1);
        transition: 0.3s;
    }

    &-input {
        width: 20px;
        min-height: 20px;
        padding: 5px;
        box-sizing: border-box;
        background-color: transparent;
        border: none;
        position: absolute;
        top: -1px;
        left: 30px;
        color: #fff;
        font-size: 16px;
        font-family: Arial;
        text-transform: capitalize;
    }

    &-input:focus {
        width: 150px;
        min-height: 20px;
        transition: width 1s ease;
        border: 2px solid #fff;
    }

    &-label {
        display: block;
        width: 100%;
        height: 100%;
    }
}

.cart-btn-link {
    position: relative;


    & span {
        display: block;
        width: 19px;
        height: 19px;
        background-color: $clr-prjct-bsd;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        position: absolute;
        top: -6px;
        left: 24px;
    }
}